@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "poppins", sans-serif;
  background-color: #1a5697;
}

.results > div {
  padding: 1rem;
  border: 1px solid grey;
  margin: 1rem;
}

.logo {
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.25s;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

p {
  color: black;
  font-size: 1, 2rem;
  text-align: left;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.25s;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: rgb(48, 52, 54);
  font-family: "poppins", sans-serif;
  margin-left: 1rem;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
}
.footer {
  position: fixed;
  bottom: 0;

  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

img.img-thumbnail {
  width: 100%;
  height: auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 15px;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}

.results {
  display: flex;
  flex-wrap: wrap;
}

.result {
  margin: 1rem;
  padding: 1rem;
  max-width: 200px;
  background: white;
  border: 1px solid grey;
  border-radius: 1rem;
}

.error {
  border: 1px solid darkred;
  padding: 1rem;
  color: brown;
  background: rgba(255, 0, 0, 0.1);
}

.loader {
  display: flex;
  justify-content: center;
}

.loader::after {
  content: "";
  width: 120px;
  height: 120px;
  border: 16px solid #dddddd;
  border-top: 16px solid rgb(3, 90, 43);
  border-radius: 50%;
  opacity: 0.5;

  animation: spinner 0.5s linear infinite alternate;
}

@keyframes spinner {
  to {
    transform: rotate(1turn);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}
